p Dear #{toWhom}

p Congratulations! Your portfolio 
  strong #{portfolioName}
  |  has been setup successfully. The email is confirming you are authorised user by #{portfolioName} to authorise AU Accounting Office as your accountant and tax agent. The detail of authorisation condition can be find at 5 in our 
  a(href=website + '/terms_and_conditions') term and condition
  |  that you confirmed before.

p If you think this is a faulty action, please contact us as soon as possible.

include ../signature.pug