node_modules
devops/.terraform
devops/.env.prod
*.map
.env
zwf-web/build
zwf-app/src/_assets/keys/localhost.crt
zwf-app/src/_assets/keys/localhost.key
.pnpm-debug.log
zwf-app/package-lock.json
.DS_Store
zwf-web/public/pspdfkit-lib
zwf-web/public/tinymce
