p Dear #{toWhom}

p The task 
  strong #{taskName}
  |  has been created. And we will proceed it shortly.

p In the meantime, you can log into 
  a(href=website) #{website}
  |  to modify it and check the latest update at any time.

include ../signature.pug