p Thank you very much.
p Kind Regards,
p Jinlin Zhou
  br 
  | Principal
p --
small(style='color:#888888')
  img(alt='AU Accouting Office Logo' width='150px' height='auto' src=website + '/images/header-logo.png')
  p
    | W 
    a(href=website target='_blank' rel='noreferrer noopener') #{website}
    br
    | A 
    a(href='https://maps.google.com/?q=Unit 101, 11 Spring St., Chatswood, NSW 2067' target='_blank' rel='noreferrer noopener') 101, 11 Spring St, Chatswood, NSW, 2067
    br
    | M 
    a(href='tel:+61433388655') 0433 388 655
    br
    | M 
    a(href='tel:+61401093580') 0401 093 580
    br
    | E 
    a(href='mailto:info@filedin.io') info@filedin.io
  p J.Z. Accounting trading as AU Accounting Office, ABN 31 613 612 543. Liability limited by a scheme approved under Professional Standards Legislation.
  p Confidentiality: This message and its attachments are confidential and intended solely for the person or organisation to whom it is addressed. It may contain privileged and confidential information. If you are not the addressee indicated in this message (or responsible for delivery of the message to the addressee), you may not copy or deliver this message or its attachments to anyone, or take any action in reliance on it. Rather, you should permanently delete this message and its attachments and notify the sender. Any content of this message and its attachments which does not relate to the official business of AU Accounting Office Ltd or its subsidiaries must be taken not to have been sent or endorsed by any of them.
  p Disclaimer: You may not rely on electronically transmitted advice or documents unless the transmitted advice is confirmed by original documents signed by a partner of this firm. Advice transmitted to you should also be confirmed and checked against a hard copy of the document printed by this firm.
  p Viruses: J.Z. Accounting trading as AU Accounting Office does not represent or warrant files attached to this email are free from computer viruses defects. Any attached files are provided, and may only be used, on the basis the user assumes all responsibility for any loss or damage resulting directly or indirectly form such use.
