p Thank you very much.
p --
small(style='color:#888888')
  img(alt='Ziledin Logo' width='150px' height='auto' src=website + '/images/header-logo.png')
  p
  | W 
  a(href=website target='_blank' rel='noreferrer noopener') #{website}
  br
  | M 
  a(href='tel:+61405581228') 0405 581 228
  br
  | E 
  a(href='mailto:techseeding2020@gmail.com') techseeding2020@gmail.com