p Dear #{toWhom}

p Your account has been deleted from Ziledin platform. Your access has been removed for all portfolios.

p Please 
  a(href=website + '/signup') sign up
  |  if you need again.

include ../signature.pug