p Dear #{toWhom}

p Your account has been deleted from Filedin platform. Your access has been removed for all portfolios.

p Please 
  a(href=website + '/signon') sign on
  |  if you need again.

include ../signature.pug